{% extends 'base.html'%}

{% block main %}
    <div id='student-table'>
        <table id='students'>
            <tr>
                <th>ID Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                
                <th>Link to Timetable</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Danielle</td>
                <td>Scott</td>
                
                <td><a href="">Current Timetable</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Junelle</td>
                <td>Wilmot-Simpson</td>
                
                <td><a href="">Current Timetable</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Tania</td>
                <td>Stevens</td>
                
                <td><a href="">Current Timetable</a></td>
            </tr>
        </table>
        
    </div>
{% endblock %}