{% extends 'base.html' %}

{% block main %}

<div id='editBuffer'></div>
<div id='studentEdit'>
    <form id='studentEdit_form'>
        <br>
        <div id='id_number'>ID Number: 999988888</div><br><br>
        <input class='edit-field-area' type="text" placeholder="First Name"/>
        <input class='edit-field-area'type="text" placeholder="Last Name"/><br><br><br>
        <input class='edit-field-area'type="text" placeholder="Year of Study"/><br><br><br>
        <button id='edit_Timetable'>Current Timetable</button><br><br>
        
        <input id='edit_Save' type="submit" value="Save"/>
    </form>
</div>


{% endblock %}