{% extends 'base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block main %}
<div class= "home">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="static/css/app.css">
    
    <br>
    <br>
        
    <p id="tut_note">Your information has been saved successfully. Please check to see if schedule is ready.</p><br>
    <form method="POST" action="{{url_for('schedule')}}">
        <input type="submit" value="Schedule"/>
    </form>
</div>

{% endblock %}