{% extends 'base.html' %}

{% block main %}
<div id='tutor-table'>
    <table id='tutors'>
        <tr>
            <th>ID Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Area of Study</th>
            <th>Course Preference</th>
           
            <th>Link to Current Timetable</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Danielle</td>
            <td>Scott</td>
            <td>Networking</td>
            <td>Introduction to Networking</td>
            
            <td><a href="">Current Timetable</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Junelle</td>
            <td>Wilmot-Simpson</td>
            <td>Networking</td>
            <td>Introduction to Networking</td>
            
            <td><a href="">Current Timetable</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Tania</td>
            <td>Stevens</td>
            <td>Networking</td>
            <td>Introduction to Networking</td>

            <td><a href="">Current Timetable</a></td>
        </tr>
    </table>
        
</div>
{% endblock %}